div {
	height: 300px;
	width: 400px;
	margin: 20px auto;
	border: 2px solid black;
    text-align: center;
}
img{
    float: left;
	width: 200px; 
    height:200px;
    margin-top: 150px;
    margin-left: 400px;
	
}
body{
	background-image: url(lb.PNG);
	background-repeat:no-repeat;
	background-size: 1400px 900px;
}
